.contactsBlock {
    height: 100vh;
    background-color: azure;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 280px;
}

form textarea {
    width: 280px;
}

form button {
    width: 50%;
}